@model SiteViewModel
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.MetaTitle = Model.PageContext.MetaData.Title;
}
<div class="layout-docs container">
    @await Html.PartialAsync("_Sidebar").ConfigureAwait(false)
    <main id="main-content" class="layout-docs__main">
        <div class="doc__content">
            <h1>@Model.PageContext.Title</h1>
            @foreach (var contentFragment in Model.PageContext.GetAllMarkdownContent())
            {
                @Html.Raw(contentFragment.Body)
            }
        </div>
    </main>
</div>
